<% include ../partials/boilerplate %>
<form method="POST" action="/books/<%= data.id %>?_method=PUT">
  <input name="id" type="hidden" value="<%= data.id %>">
  <input name="title" type="text" value="<%= data.title %>" />
  <input name="author" type="text" value="<%= data.author %>" />
  <input name="average_rating" type="text" value="<%= data.average_rating%>"/>
  <input name="number_of_pages" type="text" value="<%= data.number_of_pages%>"/>
  <input type="submit" value="Edit this book!" />
</form>

<% include ../partials/footer %>