<% include ../partials/boilerplate %>

<div class='fav'>
  <h1>Title: <%= data.title %></h1>
  <h2>Author: <%= data.author %></h2>
  <p>Average Rating: <%= data.average_rating %></p>
  <p>Number of Pages: <%= data.number_of_pages %></p>
  <p><a href="/favs/<%= data.id %>/edit"> Edit this book </a></p>
  <form action="/favs/<%= data.id %>?_method=Delete" method="Post">
    <input type="Submit" value="Delete this book from your list?"/>
  </form>
  <a href='/favs/'>See all favs</a>
</div>

<% include ../partials/footer %>